@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'Hack';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(../font/hack-regular.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
  text-shadow: 0 0 2px var(--theme-color) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
  text-shadow: 0 0 2px var(--theme-color) !important;
}

/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}


/* 右侧小按钮圆角 */
#rightside>div>button,#to_comment {
    margin-right: 4px;
    border-radius: 7px;
  }

/*侧边滑动颜色*/
:root {
    --btn-bg: #2F3437;
}

/*GitHub开源圆角*/
#card-info-btn {
  border-radius: 7px;
  overflow: hidden;
}



/*版权卡片美化*/
#post .post-copyright {
position: relative;
margin: 2rem 0 0.5rem;
padding: 1.5rem 0.8rem;
border: 8px solid #f6f6f6; /*卡片边框*/
border-radius: 20px; /*边框圆角*/
}
#post .post-copyright:before {
position: absolute;
top: -1.9rem; /*C位置*/
color: #49b1f540; /*C颜色*/
font-size: 6rem; /*C大小*/
}


/*侧边栏标签美化*/
#aside-content .card-tag-cloud a {
  color: var(--heo-fontcolor) !important;
  font-size: 0.8rem;
  border-radius: 9px;
  border-style: dashed;
}
#aside-content .item-headline {
  font-weight: 700;
}
